body {
    background-color: #009688;
}

.name-of-scholarship-div{
    border: 0px solid red;
    border-radius: 4px;
    color: white;
    background-color: #FFA000;
    height: 140px;
/*    line-height: 120px;*/
    
}

/*To try and keep the height of the cards the same you just override the flexible height to a set height, given that you know a name of a scholarship won't be too long and that the info on the due date and amount of money will also not go pass beyond a */
.w3-container{
    height: 80px;
    margin-bottom: 10px;
}

.header-date{
    color: white;
}

.scholarship-extra-info{
    padding-left: 0px;
    display: inline-block;
    vertical-align: middle;
    float: none;
}