Django==1.9
SecretStorage==2.0.0
argparse==1.2.1
colorama==0.2.5
decorator==3.4.0
django-npm==1.0.0
djangorestframework==3.4.6
gunicorn==19.6.0
html5lib==0.999
httplib2==0.8
ipython==1.2.1
keyring==3.5
lockfile==0.8
lpthw.web==1.1
oauth==1.0.1
psycopg2==2.6.2
pyparsing==2.0.1
python-dateutil==1.5
pytz==2012c
requests==2.2.1
simplegeneric==0.8.1
simplejson==3.3.1
six==1.5.2
urllib3==1.7.1
virtualenv==1.11.4
virtualenv-clone==0.2.4
wadllib==1.3.2
wheel==0.24.0
whitenoise==3.2.1
zope.interface==4.0.5
dj-database-url==0.4.1
