{% extends 'scholarships/_base.html' %}
{% load static %}
{% block content %}
    {% for scholarship in scholarships %}
        <ul class="collection">
            <li class="collection-item avatar">
                <img src="{% static 'scholarships/images/test' %}" alt="" class="circle">
                <a href="{{ scholarship.url }}">
                    <span class="title"> {{ scholarship.name }} </span>
                </a>
                <p>${{ scholarship.amount }} <br>
                    sholarship description if any.. {{ scholarship.description }}</p>
                <p class="secondary-content">Due on: {{ scholarship.deadline }}</p>
{#                <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>#}
            </li>

        </ul>
    {% endfor %}

    <div class="center pagination">
        <span class="step-links">
            {% if scholarships.has_previous %}
                <a href="?page={{ scholarships.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ scholarships.number }} of {{ scholarships.paginator.num_pages }}.
            </span>

            {% if scholarships.has_next %}
                <a href="?page={{ scholarships.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{%  endblock %}