{% load staticfiles %}


<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">



        {% block javascript %}
            <!--JQuery.Js-->
            <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
            <!--Bootstrap.JS-->
            <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        {% endblock javascript %}


        <!--Stylesheets Used .Css-->
        {% block styling %}
            <!--Fonts Used .Css-->
            <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
            <!--Bootstrap.Css-->
            <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css"> </head>
            <!--W3schools.css-->
            <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
            <!--My Style.css -->
            <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
         {% endblock styling %}


    <body>
        <div class="navbar navbar-default navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="navbar-brand"><span>UndocuScholar</span></a> </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"> <a href="#">Home</a> </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center text-primary header-date">Today's Date: 8/31/2016</h1> </div>
            </div>

            {% for scholarship in scholarships %}
                <div class="row">
                    <div class="col-xs-8 w3-container scholarship-name">
                        <header class="w3-container w3-blue" style="border-radius: 16px;">
                          <p class="text-center">{{ scholarship.name }}</p>
                        </header>
                    </div>

                    <div class="col-xs-4 w3-container scholarship-extra-info">
                        <header class="w3-container w3-blue" style="border-radius: 16px;">
                          <p class="text-center">${{ scholarship.amount }} Due on: {{ scholarship.deadline }}  </p>
                        </header>
                    </div>
                </div>
            {% endfor %}

        </div>

        <div class="pagination">
            <span class="step-links">
                {% if scholarships.has_previous %}
                    <a href="?page={{ scholarships.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ scholarships.number }} of {{ scholarships.paginator.num_pages }}.
                </span>

                {% if scholarships.has_next %}
                    <a href="?page={{ scholarships.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>








{#        <div class="section">#}
{#            <div class="container">#}
{##}
{#                <div class="row">#}
{#                    <div class="col-md-12 text-center">#}
{#                        <ul class="pagination">#}
{#                            <li><a href="#">Prev</a></li>#}
{#                            <li><a href="#">1</a></li>#}
{#                            <li><a href="#">2</a></li>#}
{#                            <li><a href="#">3</a></li>#}
{#                            <li><a href="#">4</a></li>#}
{#                            <li><a href="#">5</a></li>#}
{#                            <li><a href="#">Next</a></li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </body>

</html>