<!--{% load static %}-->

<!DOCTYPE html>
<html lang="en">

<head>
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{% static 'node_modules/materialize-css/dist/css/materialize.min.css' %}" media="screen,projection" />
        <!-- Custom CSS -->
        <link href="../../static/scholarships/css/abc.css" type="text/css" rel="stylesheet" media="screen,projection">
        <!-- CSS for full screen (Layout-2)-->
        <link href="../../static/scholarships/css/style-fullscreen.css" type="text/css" rel="stylesheet" media="screen,projection">
        <link href="../../static/scholarships/css/css_prism.css" type="text/css" rel="stylesheet" media="screen,projection">
        <link href="../../static/scholarships/css/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
        <link href="../../static/scholarships/css/chartist.min.css" type="text/css" rel="stylesheet" media="screen,projection">
        <link href="../../static/scholarships/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
    <nav class="black lighten-2" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">UndocuScholar</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Home</a></li>
                <li><a href="/sync/">Blog</a></li>
                <li><a href="/scholarships/">Discover</a></li>
            </ul>


            <ul id="nav-mobile" class="side-nav">
                <li>
                    <div class="userView">
                        <img class="background" src="../../static/scholarships/images/red-background-wallpaper-high-quality-6431-wallpaper-cool.jpg">
                        <a href="#!user"><img class="circle" src="../../static/scholarships/images/test"></a>
                        <a href="#!name"><span class="white-text name">User's Name</span></a>
                        <a href="#!email"><span class="white-text email">dev@skagit.edu</span></a>
                    </div>
                </li>
                <li><a href="/collection/"><i class="material-icons">cloud</i>First Link With Icon</a></li>
                <li><a href="#!">Second Link</a></li>
                <li>
                    <div class="divider"></div>
                </li>
                <li><a class="subheader">Subheader</a></li>
                <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse top-nav waves-effect waves-light circle"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <!-- end of nav -->

    <div class="userView">
        <img class="background responsive-img" src="{% static 'scholarships/images/maxresdefault.jpg' %}"/>
        <div class="container">
            <br>
            <br>
            <div class="row center">
                <h1 class="header hide-on-small-only orange-text">BeyondHB1079</h1>
                <h3 class="header hide-on-med-and-up orange-text">BeyondHB1079</h3>
            </div>
            <div class="row center">
                <h5 class="header col s12 light">Scholarships for Undocumented Students!</h5>
            </div>
            <div class="row center">
                <div class="col s12 m6 l4 offset-l2">
                   <a href="#" id="download-button" onclick="Materialize.toast('New Member - test', 4000)"class="btn-large waves-effect waves-light green">Register</a>
                </div>
                <div class="hide-on-med-and-up">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="col s12 m6 l4 ">
                 <a href="#" id="download-button"onclick="Materialize.toast('Login test', 4000)" class="btn-large waves-effect waves-light green">Login</a>
                </div>

            </div>
            <br>
            <br>

        </div>
    </div>


    <footer class="page-footer orange">
        <div class="container">
            <div class="row">
                <div class="col l6 offset-l1 s12">
                    <h5 class="white-text">About Us</h5>
                    <p class="grey-text text-lighten-4 l4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


                </div>
                <div class="col l2 s12">
                    <h5 class="white-text">Site</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Privacy</a></li>
                        <li><a class="white-text" href="#!">Support</a></li>
                        <li><a class="white-text" href="#!">API</a></li>
                        <li><a class="white-text" href="#!">Help</a></li>
                    </ul>
                </div>
                <div class="hide-on-small-only col l3 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Facebook</a></li>
                        <li><a class="white-text" href="#!">Twitter</a></li>
                        <li><a class="white-text" href="#!">GitHub</a></li>
<!--                        <li><a class="white-text" href="#!">Link 4</a></li>-->
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
<!--                Made by <a class="orange-text text-lighten-3" href="#">Materialize</a>-->
            </div>
        </div>
    </footer>

    <!--Import jQuery before materialize.js-->
        <!-- jQuery Library -->
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <!--materialize js-->
    <script type="text/javascript" src="{% static 'node_modules/materialize-css/dist/js/materialize.min.js' %}"></script>
    <!--prism-->
    <script type="text/javascript" src="../../static/scholarships/js/prism.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="../../static/scholarships/js/perfect-scrollbar.min.js"></script>
    <!-- chartist -->
    <script type="text/javascript" src="../../static/scholarships/js/chartist.min.js"></script>
    <!-- global Js -->
    <script type="text/javascript" src="../../static/scholarships/js/init.js"></script>

</body>

</html>
