{% extends '_base.html' %}
{% load static %}
{% block content %}
    <div class="userView">
        <img class="background responsive-img" src="{% static 'scholarships/images/maxresdefault.jpg' %}"/>
        <div class="container">
            <br>
            <br>
            <div class="row center">
                <h1 class="header hide-on-small-only orange-text">BeyondHB1079</h1>
                <h3 class="header hide-on-med-and-up orange-text">BeyondHB1079</h3>
            </div>
            <div class="row center">
                <h5 class="header col s12 light">Scholarships for Undocumented Students!</h5>
            </div>
            <div class="row center">
                <div class="col s12 m6 l4 offset-l2">
                   <a href="#" id="download-button" onclick="Materialize.toast('New Member - test', 4000)"class="btn-large waves-effect waves-light green">Register</a>
                </div>
                <div class="hide-on-med-and-up">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="col s12 m6 l4 ">
                 <a href="#" id="download-button"onclick="Materialize.toast('Login test', 4000)" class="btn-large waves-effect waves-light green">Login</a>
                </div>

            </div>
            <br>
            <br>

        </div>
    </div>
{% endblock %}
