{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    {% block styling %}
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{% static 'node_modules/materialize-css/dist/css/materialize.min.css' %}" media="screen,projection" />
        <!-- Custom CSS -->
        <link href="{% static 'libs/css/abc.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
        <!-- CSS for full screen (Layout-2)-->
        <link href="../../static/scholarships/css/style-fullscreen.css" type="text/css" rel="stylesheet" media="screen,projection">
        <link href="{% static 'node_modules/prismjs/themes/prism.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
        <link href="{% static 'node_modules/perfect-scrollbar/min/perfect-scrollbar.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
        <link href="{% static 'node_modules/chartist/dist/chartist.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
        <link href="../../static/scholarships/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% endblock styling %}
</head>


<body class="loaded">
    <!-- Start Page Loading -->

    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->

      <!-- //////////////////////////////////////////////////////////////////////////// -->

    <!-- START HEADER -->
  <header id="header" class="page-topbar">
        <!-- start header nav-->
        <div class="navbar-fixed">
            <nav class="black lighten-2">
                <div class="nav-wrapper">

                    <ul class="left">
                      <li class="no-hover"><a href="#" data-activates="slide-out" class="menu-sidebar-collapse btn-floating btn-flat btn-medium waves-effect waves-light grey darken-4"><i class="mdi-navigation-menu" ></i></a></li>
                      <li><h1 class="logo-wrapper"><a href="#" class="brand-logo darken-1"><img src="#" alt="beyone1079"></a> <span class="logo-text">beyone1070</span></h1></li>
                    </ul>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="/" class="waves-effect waves-block waves-light">Home</a>
                        </li>
                        <li><a href="/sync/" class="waves-effect waves-block waves-light">Blog</a>
                        </li>
                        <li><a href="/scholarships/" class="waves-effect waves-block waves-light">Discover</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- end header nav-->
  </header>
    <!-- END HEADER -->

<aside id="left-sidebar-nav">
    <ul id="slide-out" class="side-nav leftside-navigation">
        <li class="user-details grey darken-4">
            <div class="row">
                <div class="col col s4 m4 l4">
                    <img src="images/avatar.png" alt="" class="responsive-img valign profile-image">
                </div>
            </div>
        </li>
        <li class="bold active"><a href="x/dashboard.html" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Dashboard</a>
        </li>
        <li class="bold"><a href="javascript:void(0);" class="waves-effect waves-block waves-light"><i class="mdi-social-notifications"></i> Notifications</a>
        </li>
        <li class="bold"><a href="#" data-activates="chat-out" class="waves-effect waves-block waves-light chat-collapse"><i class="mdi-communication-chat"></i> Trending</a>
        </li>
        <li class="bold"><a href="x/app-email.html" class="waves-effect waves-cyan"><i class="mdi-communication-email"></i> FeedBack</a>
        </li>
        <li class="bold"><a href="x/app-calendar.php" class="waves-effect waves-cyan"><i class="mdi-editor-insert-invitation"></i> Calendar</a>
        </li>
        <li class="li-hover">
            <div class="divider"></div>
        </li>
        <li class="li-hover">
            <p class="ultra-small margin more-text">NEWS</p>
        </li>
        <li><a href="x/blog.php"><i class="mdi-image-grid-on"></i> CyberSkagit</a>
        </li>
        <li><a href="#"><i class="mdi-editor-format-color-fill"></i> SKAPIX</a>
        </li>
        <li><a href="x/tech.html"><i class="mdi-action-account-circle"></i> TechVook</a>
        </li>
        <li><a href="x/media.php"><i class="mdi-action-swap-vert-circle"></i> #SkagitStrong</a>
        </li>
        <li class="li-hover">
            <div class="divider"></div>
        </li>
        <li class="li-hover">
            <p class="ultra-small margin more-text">MORE</p>
        </li>
        <li><a href="x/forum.php"><i class="mdi-communication-live-help"></i> Helpers</a>
        </li>
        <li><a href="404/privacy_copyright.html"><i class="mdi-communication-live-help"></i> Changelogs</a>
        </li>
        <li class="li-hover">
            <div class="row">
                <div class="col s12 m12 l12">
                </div>
            </div>
        </li>
    </ul>

</aside>





    {% block javascript %}
    <!--Import jQuery before materialize.js-->
        <!-- jQuery Library -->
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <!--materialize js-->
    <script type="text/javascript" src="{% static 'node_modules/materialize-css/dist/css/materialize.min.css' %}"></script>
    <!--prism-->
    <script type="text/javascript" src="{% static 'node_modules/prismjs/prism.js' %}"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="{% static 'node_modules/perfect-scrollbar/min/perfect-scrollbar.min.js' %}"></script>
    <!-- chartist -->
    <script type="text/javascript" src="{% static 'node_modules/chartist/dist/chartist.min.js' %}"></script>
    <!-- global Js -->
    <script type="text/javascript" src="../../static/scholarships/js/init.js"></script>
    <!--Cutom JS -->
    <script type="text/javascript" src="../../static/scholarships/js/wavook.js"></script>
{% endblock javascript %}
</body>

</html>




